{
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    "no-console": "off",
    "vue/require-v-for-key": "off"
  }
}
